.choresText {
   color: purple;
   font-style: italic;
   font-family: 'Times New Roman', Times, serif;
}

.choresHeading {
   color: orange;
   text-decoration: underline;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}